html{
    scroll-behavior: smooth !important;
}
body{
    font-family: "Roboto", sans-serif !important;
    background-color: #f1f1f1;
    overflow-x: hidden !important;
}
.body-wrap{
    width: 100vw;
    overflow-x: hidden !important;
}
ul{
    margin-bottom: 0px !important;
    padding-left: 0px !important;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #207EF7;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6B9AF3;
  }

  .owl-theme .owl-dots .owl-dot {
    display: none !important;
}

.jquery-back-to-top, .jquery-back-to-top-theme-default, .jquery-back-to-top-status-on, .jquery-back-to-top-effect-spin-on{
    background-color: rgb(32 126 247) !important;
}

/*head-top start*/
.head-top{
    background-color: #07092B;
}
.ht-col{
    padding: 20px 0px;
}
.ht-col ul li{
    display: inline-block;
    padding-right: 15px;
}
.ht-col ul li a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    transition: ease-in-out .3s;
}
.ht-icn-bg{
    background-color: #fff;
    border-radius: 20px;
    margin-right: 10px;
    aspect-ratio: 1 / 1;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ht-icn-bg span{
    color: #07092B;
}
.ht-col ul li a:hover{
    color: #6B9AF3;
    transition: ease-in-out .3s;
}
.ht-col-2{
    text-align: right;
}
.ht-btn{
    padding: 8px 16px;
    border-radius: 10px;
}
.ht-btn2{
    background-color: #fff;
    color: #07092B !important;
    border: 1px solid #ffffff00;
}
.ht-btn2:hover{
    border: 1px solid #ffffff;
    color: #fff !important;
    background-color: #ffffff00;
}
/*head-top end*/

/*banner start*/
.banner{
    background-image: url(../images/home2-banner.jpg);
    height: 85vh;
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: cover;
    padding-top: 30px;
    margin-bottom: 60px;
}
.index1-bnr-wrap{
    width: 95%;
    align-items: center;
    padding-top: 55px;
}
.bnr-form-wrap{
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 20px 0;
    border-radius: 20px;
}
.index1-bnr-txt{
    padding: 0px !important;
}
.doc-img{
    padding: 0px !important;
}
.index1-bnr-txt h1{
    font-size: 48px;
    font-weight: 800;
    color: #07092B;
    margin-bottom: 24px;
}
.index1-bnr-txt p{
    font-size: 16px;
    font-weight: 400;
    color: #11111197;
    margin-bottom: 24px;
}
.index1-bnr-form{
    border: none !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #07092b !important;
    line-height: 2 !important;
}
.index1-bnr-btn{
    background-color: #07092B !important;
    color: #fff;
    font-size: 16px !important;
    font-weight: 600px !important;
    border-radius: 10px !important;
    padding: 8px 16px !important;
    border: none !important;
}
.index1-bnr-btn span{
    margin-left: 8px;
}
.bnr-main-btn, .bnr-main-btn2{
    color: #fff;
    font-size: 16px !important;
    font-weight: 600px !important;
    border-radius: 50px !important;
    padding: 12px 28px !important;
    border: none !important;
}
.bnr-main-btn2{
    background-color: #07092B !important;
}
.bnr-main-btn{
    background-color: #207EF7 !important;
    margin-right: 30px;
}
/*banner end*/

/*header start*/
.nav-btn{
    background-color: #07092B !important;
    color: #fff;
    font-size: 16px !important;
    font-weight: 600px !important;
    border-radius: 10px !important;
    padding: 12px 20px !important;
    border: none !important;
}
.header{
    top: 8%;
    left: 50%;
}
.head-btns{
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #07092B !important;
    padding: 0px 15px !important;
    transition: ease-in-out .4s;
}
.head-btns:hover{
    color: #207EF7 !important;
    transition: ease-in-out .4s;
}
.main-nav{
    display: flex;
    justify-content: space-between;
}
.nav-all{
    margin-right: 300px;
}
.nav-all li{
    display: inline-block;
}
.main-nav{
    align-items: center;
}
.responsive-nav-toggle{
    display: none;
}
.primary-header{
    padding: 30px 0;
}
/*header end*/

/*home2-about start*/
.home2-about{
    margin-bottom: 60px;
}
.about-img-col{
    text-align: end;
}
.about-img-col img{
    height: 400px;
    width: 550px;
    object-fit: cover;
    border-radius: 100px 25px 100px 25px;
    box-shadow: -60px 60px #6b9bf34d;
}
.about-txt-col h5{
    font-size: 16px;
    color: #6B9AF3;
    margin-bottom: 5px;
}
.about-txt-col h1{
    font-size: 40px;
    font-weight: 800;
    color: #07092B;
    margin-bottom: 15px;
}
.about-txt-col p{
    font-size: 16px;
    color: #07092b98;
    line-height: 2;
    margin-bottom: 15px;
}
.about-ben{
    box-shadow: 0px 0px 20px #11111153;
    border-radius: 5px;
    width: 47% !important;
    margin-right: 10px !important;
    margin-bottom: 15px !important;
}
.about-ben h2{
    font-size: 20px;
    margin-bottom: 0px;
    padding: 20px 0px 20px 10px;
}
.about-ben h2 span{
    font-size: 24px !important;
    color: #207EF7;
    margin-right: 10px;
}
/*home2-about end*/

/*health-serv start*/
.health-serv{
    background-color: #6b9bf31c;
    margin-bottom: 60px;
}
.all-health{
    padding: 50px 0px;
}
.health-head h5{
    font-size: 16px;
    color: #207EF7;
    margin-bottom: 10px;
}
.health-head h1{
    font-size: 40px;
    color: #07092B;
    font-weight: 800;
    margin-bottom: 20px;
}
.health-head p{
    font-size: 16px;
    color: #07092B;
    padding: 0px 150px;
    margin-bottom: 25px;
}
.health-col{
    width: 85%;
}
.health-col h6{
    font-size: 16px;
    color: #207EF7;
    font-weight: 600;
}
.ben-col{
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: #fff;
    border: 2px solid #6b9bf300;
    border-radius: 10px;
    transition: ease-in-out .4s;
}
.ben-col:hover{
    border: 2px solid #6b9bf3;
    transition: ease-in-out .4s;
}
.ben-col h1{
    font-size: 24px;
    color: #07092B;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 25px;
}
.ben-col p{
    font-size: 16px;
    color: #07092b92;
}
.ben-icn-bg{
    background-color: #6b9bf366;
    border-radius: 100%;
    border: 2px solid #207EF7;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.ben-icn-bg span{
    font-size: 40px;
    color: #207EF7;
}
/*health-serv end*/

/*doctors start*/
.doctors{
    margin-bottom: 50px;
}
.doc-head p{
    padding: 0px 150px !important;
}
.doc-col{
    margin-bottom: 25px;
    width: 100% !important;
}
.doc-col img{
    margin-bottom: 15px;
}
.doc-col h1{
    font-size: 20px;
    color: #07092B;
    font-weight: 600;
    margin-bottom: 10px;
}
.doc-col h2{
    font-size: 16px;
    color: #207EF7;
    margin-bottom: 0px !important;
}
/*doctors end*/

/*goal start*/
.goal{
    margin-bottom: 60px;
    background-color: #eff4fe;
}
.goal-img{
    background-image: url(../images/goal-img.jpg);
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.goal-txt{
    background-color: #eff4fe;
    padding: 45px 0px 45px 40px !important;
    top: 50%;
    right: -12%;
    border-radius: 20px;
}
.goal-para{
    line-height: 1.2 !important;
}
.all-sol span{
    font-size: 28px;
    color: #14174a;
    background-color: #6b9bf300 !important;
    padding: 0px !important;
    border-radius: 0% !important;
    margin-right: 20px;
    margin-bottom: 0px !important;
}
.sol-txt h6{
    color: #07092b91;
    margin-bottom: 0px !important;
}
.all-sol{
    margin-bottom: 15px;
}
.appoint-data{
    margin-bottom: 30px;
}
.about-txt-col a{
    background-color: #207EF7;
    color: #f1f1f1;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 100px;
    text-decoration: none;
}
/*goal end*/

/*shop start*/
.shop{
    margin-bottom: 60px;
}
.shop-card-img{
    background-color: #6b9bf34e;
    margin-bottom: 20px;
    height: 396px;
    width: 456px;
}
.shop-card-img img{
    width: 60%;
    align-items: center;
    padding: 60px 0;
}
.shop-txt{
    text-align: left;
}
.shop-txt h1{
    font-size: 28px;
    color: #07092B;
    font-weight: 600;
    margin-bottom: 10px;
}
.shop-txt h2{
    font-size: 20px;
    color: #07092b69;
    font-weight: 400;
    margin-bottom: 10px;
}
.rating{
    margin-bottom: 10px;
}
.rating:not(:checked) > input {
    position: absolute;
    appearance: none;
}
.rating:not(:checked) > label {
    float: none;
    cursor: pointer;
    font-size: 30px;
    color: #666;
}
.rating:not(:checked) > label:before {
    content: '★';
}
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #e58e09;
}
.rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #ff9e0b;
}
.rating > input:checked ~ label {
    color: #ffa723;
}
.shop-price h3{
    font-size: 20px;
    color: red;
}
.shop-icon{
    background-color: beige;
    padding: 5px 10px;
    transition: ease-in-out .3s;
}
.shop-icon:hover{
    background-color: #6b9bf3a5;
    transition: ease-in-out .3s;
}
.shop-icon span{
    font-size: 20px;
    color: rgb(186, 186, 186);
    transition: ease-in-out .3s;
}
.shop-icon:hover .shop-icon-span{
    color: #207EF7;
    transition: ease-in-out .3s;
}
/*shop end*/

/*project start*/
.project{
    background-image: url(../images/project-bg.jpg);
    background-repeat: repeat;
    background-size: cover;
    margin-bottom: 60px;
}
.project-head{
    padding-top: 30px;
    margin-bottom: 30px;
}
.project-head h5{
    color: #207EF7 !important;
}
.project-head h1{
    color: #f1f1f1 !important;
}
.project-head p{
    color: #f1f1f1 !important;
}
.project-wrap{
    padding-bottom: 30px;
}
.project-col{
    margin-bottom: 50px;
}
.div-img{
    border-radius: 20px;
}
.project-img{
    transform: scale(1);
    transition: ease-in-out .3s;
}
.project-txt{
    background-color: #f1f1f1;
    text-align: left;
    padding: 20px;
    width: 90%;
    top: 94%;
    left: 47.4%;
    opacity: 0;
    transition: ease-in-out .3s;
}
.project-txt p{
    font-size: 20px;
    font-weight: 600;
    color: #07092B;
    margin-bottom: 0px;
}
.project-col:hover .project-txt{
    opacity: 1;
    transition: ease-in-out .3s;
}
.project-col:hover .project-img{
    transform: scale(1.1);
    transition: ease-in-out .3s;
}
/*project end*/

/*testimonial start*/
.testimonial{
    margin-bottom: 60px;
}
.test-txt{
    margin-top: 30px;
}
.test-img{
    background-image: url(../images/testimonial-left.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.test-sign{
    background-color: #6b9bf365;
    height: 70px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}
.test-sign span{
    font-size: 36px;
    color: #207EF7;
    margin-bottom: 0px;
}
.test-txt p{
    font-size: 20px;
    color: #07092b91;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bio-img{
    height: 70px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    object-fit: cover;
}
.bio-img img{
    border-radius: 100%;
}
.test-txt h2{
    font-size: 16px;
    color: #07092B;
    font-weight: 500;
    margin-top: 10px;
}
.test-txt h3{
    font-size: 14px;
    color: #07092b92;
}
.carousel-indicators [data-bs-target] {
    background-color: #207EF7 !important;
}
.carousel-indicators {
    bottom: -13% !important;
}
/*testimonial end*/

/*partners start*/
.partners{
    background-color: #6b9bf31c;
    padding: 50px 0px;
    margin-bottom: 60px;
}
.part-wrap{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}
.part-col{
    width: 18%;
    padding: 20px 40px;
    background-color: #fff;
    margin-bottom: 20px;
}
.part-col span{
    color: #6b9bf3;
    font-size: 40px;
    margin-bottom: 15px;
}
.part-col h4{
    font-size: 20px;
    color: #07092B;
    margin-bottom: 0px !important;
}
/*partners end*/

/*blog start*/
.blog{
    margin-bottom: 60px;
}
.blog-txt{
    top: 110%;
    left: 50%;
    padding: 10px;
    background-color: #07092b;
    width: 100%;
    transition: ease-in-out .3s;
}
.blog-data:hover .blog-txt{
    top: 93%;
    transition: ease-in-out .3s;
}
.blog-txt h1{
    font-size: 16px;
    color: #f1f1f1;
    font-weight: 500;
}
.blog-txt h6{
    font-size: 12px;
    color: #207EF7;
}
.blog-date{
    background-color: #fff;
    left: 10%;
    top: 5.3%;
}
.blog-date h5{
    font-size: 12px;
    color: #07092B;
    padding: 10px 15px;
}
/*blog end*/

/*footer start*/
.footer{
    background-image: url(../images/footer2-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.ftr-all-wrap{
    padding: 50px 25px;
}
.logo-col h1 a{
    font-size: 28px;
    color: #fff;
    font-weight: 800;
    text-decoration: none !important;
}
.logo-col p{
    font-size: 12px;
    color: #f1f1f1a8;
}
.social-row ul li{
    display: inline-block;
}
.ft-icn-bg{
    font-size: 16px;
    color: #f1f1f1;
    margin-right: 10px;
    aspect-ratio: 1 / 1;
    height: 40px;
    background-color: #6B9AF3;
    border-radius: 50px;
}
.use-col ul li, .contact-col ul li{
    list-style: none;
    padding-bottom: 10px !important;
}
.use-col ul li h1{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 25px;
}
.use-col ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    transition: ease-in-out .3s;
}
.use-col ul li a:hover{
    color: #6B9AF3;
    transition: ease-in-out .3s;
}
.contact-col ul li h1{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 25px;
}
.contact-col ul li a{
    text-decoration: none;
}
.con-div span{
    color: #6B9AF3;
    font-size: 16px;
    margin-right: 10px;
}
.con-data h1{
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 5px !important;
}
.con-data h2{
    font-size: 12px;
    color: #fff;
}
/*footer end*/

/*ftr-btm start*/
.ftr-btm{
    background-color: #121F34;
}
.ftr-btm h1{
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    padding: 30px 0;
}
.ftr-btm h1 span{
    font-size: 16px;
}
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }

  @media screen and (max-width: 420px){
    /*head-top start*/
    .ht-col{
        text-align: center !important;
        padding: 20px 0px 0px 0px !important;
    }
    .ht-col ul li {
        display: block !important;
        padding-right: 0px !important;
        margin-bottom: 20px !important;
    }
    /*head-top end*/

    /*header start*/
    .responsive-nav-toggle{
        position: absolute;
        display: block;
        background-color: transparent;
        background-image: url(../images/hamburger.svg);
        width: 40px;
        aspect-ratio: 1 / 1;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 9999;
        top: 30%;
        right: 2rem;
        border: none;
        transition: ease-in-out .4s;
    }
    .responsive-nav-toggle[aria-expanded="true"] {
        background-image: url(../images/close.svg);
        transition: ease-in-out .4s;
    }
    .main-nav{
        position: fixed;
        inset: 0 0 0 45%;
        z-index: 5000;
        background: #f1f1f1;
        height: 100vh;
        padding: min(80vh, 10rem) 2em;
        flex-direction: column;
        transform: translateX(100%);
        transition: ease-in .4s;
    }
    .main-nav[data-visible="true"] {
        transform: translateX(0%);
        transition: ease-out .4s;
    }
    .nav-all li{
        display: block;
    }
    .nav-all{
        margin-right: 0px !important;
    }
    .main-nav{
        margin-bottom: 15px !important;
    }
    /*header end*/

    /*banner start*/
    .banner {
        background-position-x: 70% !important;
    }
    .index1-bnr-txt{
        text-align: center;
    }
    .index1-bnr-txt h1 {
        font-size: 24px !important;
        margin-bottom: 10px !important;
    }
    .index1-bnr-txt p {
        font-size: 14px !important;
        margin-bottom: 10px !important;
    }
    .bnr-form-wrap {
        margin-bottom: 10px !important;
        padding: 10px 0 !important;
    }
    /*banner end*/

    /*home2-about start*/
    .about-img-col{
        text-align: center !important;
        margin-bottom: 30px;
        margin-left: 20px;
    }
    .about-img-col img {
        transform: scale(.8) !important;
    }
    .about-txt-col{
        text-align: center;
        margin-bottom: 20px !important;
    }
    .about-txt-col h5 {
        font-size: 14px !important;
        margin-bottom: 15px;
    }
    .about-txt-col h1 {
        font-size: 24px !important;
        margin-bottom: 10px !important;
    }
    .about-txt-col p {
        font-size: 14px !important;
        margin-bottom: 40px !important;
    }
    .about-ben {
        box-shadow: 0px 0px 10px #11111153 !important;
        width: 100% !important;
        margin-right: 0px !important;
        margin-bottom: 10px !important;
    }
    /*home2-about end*/

    /*health-serv start*/
    .health-head h5 {
        font-size: 14px !important;
    }
    .health-head h1 {
        font-size: 24px !important;
        margin-bottom: 10px !important;
    }
    .health-head p {
        font-size: 14px !important;
        margin: 0 auto !important;
        width: 80% !important;
        padding: 0px !important;
        margin-bottom: 25px !important;
    }
    .ben-col {
        padding-top: 50px !important;
        padding-bottom: 10px !important;
    }
    .health-col h6 {
        font-size: 14px !important;
        margin-top: 10px;
    }
    .health-serv {
        background-size: cover !important;
    }
    /*health-serv end*/

    /*goal start*/
    .goal {
        margin-bottom: 600px !important;
       }
    .goal-txt {
        padding: 25px 0px !important;
        right: -44.5% !important;
        top: 150% !important;
        width: 95% !important;
    }
    .about-txt-col {
        margin: 0 auto;
    }
    /*goal end*/

    /*shop start*/
    .shop-card {
        margin-bottom: 25px !important;
        margin: 0 auto;
        width: 75% !important;
    }
    .shop-txt h1 {
        font-size: 20px !important;
    }
    .shop-txt h2 {
        font-size: 16px !important;
    }
    .shop-price h3 {
        font-size: 16px !important;
    }
    .shop-icon span {
        font-size: 16px !important;
    }
    /*shop end*/

    /*project start*/
    .project-col {
        margin-bottom: 50px !important;
        width: 90% !important;
        margin: 0 auto;
    }
    .project-txt p {
        font-size: 16px !important;
    }
    .project-txt {
        background-color: #f1f1f1;
        left: 48.3% !important;
    }
    /*project end*/

    /*testimonial start*/
    .test-img {
        width: 85% !important;
        margin: 0 auto;
        margin-bottom: 25px !important;
    }
    .test-txt {
        margin-top: 10px !important;
    }
    .test-txt p {
        font-size: 16px !important;
        width: 90% !important;
        margin: 0 auto;
    }
    /*testimonial end*/

    /*partners start*/
    .part-wrap {
        flex-direction: column !important;
    }
    .part-col {
        width: 80% !important;
        margin: 0 auto;
    }
    /*partners end*/

    /*blog start*/
    .blog-data{
        margin-bottom: 30px !important;
    }
    .blog-txt {
        top: 115%;
    }
    .blog-data:hover .blog-txt {
        top: 89%;
    }
    .blog-date {
        left: 13.2%;
        top: 6.4%;
    }
    /*blog end*/

    /*footer start*/
    .footer{
        text-align: center !important;
    }
    .logo-col{
        margin-bottom: 35px !important;
    }
    .logo-col, .insta-col, .use-col, .contact-col{
        margin-bottom: 25px;
    }
    .use-col ul li, .contact-col ul li {
        list-style: none;
        padding-bottom: 15px !important;
    }
    .contact-col ul li h1, .use-col ul li h1 {
        margin-bottom: 0px !important;
    }
    .con-div{
        flex-direction: column;
    }
    .con-div span {
        margin-right: 0px !important;
    }
    /*footer end*/
  }