html{
    scroll-behavior: smooth !important;
}
body{
    font-family: "Roboto", sans-serif !important;
    background-color: #f1f1f1;
    overflow-x: hidden !important;
}
.body-wrap{
    width: 100vw;
    overflow-x: hidden !important;
}
ul{
    margin-bottom: 0px !important;
    padding-left: 0px !important;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #207EF7;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6B9AF3;
  }

  .owl-theme .owl-dots .owl-dot {
    display: none !important;
}

.jquery-back-to-top, .jquery-back-to-top-theme-default, .jquery-back-to-top-status-on, .jquery-back-to-top-effect-spin-on{
    background-color: rgb(32 126 247) !important;
}
/*head-top start*/
.head-top{
    background-color: #07092B;
}
.ht-col{
    padding: 20px 0px;
}
.ht-col ul li{
    display: inline-block;
    padding-right: 15px;
}
.ht-col ul li a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    transition: ease-in-out .3s;
}
.ht-icn-bg{
    background-color: #fff;
    border-radius: 20px;
    margin-right: 10px;
    aspect-ratio: 1 / 1;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ht-icn-bg span{
    color: #07092B;
}
.ht-col ul li a:hover{
    color: #6B9AF3;
    transition: ease-in-out .3s;
}
.ht-col-2{
    text-align: right;
}
.ht-btn{
    padding: 8px 16px;
    border-radius: 10px;
}
.ht-btn2{
    background-color: #fff;
    color: #07092B !important;
    border: 1px solid #ffffff00;
}
.ht-btn2:hover{
    border: 1px solid #ffffff;
    color: #fff !important;
    background-color: #ffffff00;
}
/*head-top end*/

/*banner start*/
.banner{
    background-color: #EAF7FD;
    margin-bottom: 60px;
}
.index1-bnr-wrap{
    width: 95%;
    align-items: center;
    padding-top: 55px;
}
.bnr-form-wrap{
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 20px 0;
    border-radius: 20px;
}
.index1-bnr-txt{
    padding: 0px !important;
}
.doc-img{
    padding: 0px !important;
}
.index1-bnr-txt h1{
    font-size: 48px;
    font-weight: 800;
    color: #07092B;
    margin-bottom: 24px;
}
.index1-bnr-txt p{
    font-size: 16px;
    font-weight: 400;
    color: #11111197;
    margin-bottom: 24px;
}
.index1-bnr-form{
    border: none !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #07092b !important;
    line-height: 2 !important;
}
.index1-bnr-btn{
    background-color: #07092B !important;
    color: #fff;
    font-size: 16px !important;
    font-weight: 600px !important;
    border-radius: 10px !important;
    padding: 8px 16px !important;
    border: none !important;
}
.index1-bnr-btn span{
    margin-left: 8px;
}
.bnr-main-btn{
    background-color: #207EF7 !important;
    color: #fff;
    font-size: 16px !important;
    font-weight: 600px !important;
    border-radius: 50px !important;
    padding: 12px 16px !important;
    border: none !important;
}
.nav-btn{
    background-color: #07092B !important;
    color: #fff;
    font-size: 16px !important;
    font-weight: 600px !important;
    border-radius: 10px !important;
    padding: 12px 20px !important;
    border: none !important;
}
.header{
    top: 8%;
}
.head-btns{
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #07092B !important;
    padding: 0px 15px !important;
    transition: ease-in-out .4s;
    position: relative;
}
.head-btns:hover{
    color: #207EF7 !important;
    transition: ease-in-out .4s;
}
.dd-all ul{
    padding-left: 0px !important;
}
.dd-all ul li{
    display: block;
    padding: 10px 25px;
}
.dd-all ul li a{
    display: block;
    font-size: 16px;
    color: #F8F8F8;
    font-weight: 600;
    text-decoration: none;
}
.dd-all{
    background-color: #6b9bf3a2;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 70%;
    width: 200px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity .3s, transform .3s;
    z-index: 2;
}
.dd-all-1{
    left: 30%;
}
.dd-all-2{
    left: 41%;
}
.dd-all-3{
    left: 47%;
}
.dd-all-4{
    left: 52%;
}
.dd-all-5{
    left: 57%;
}
.dd-all ul li a:hover{
    color: #07092B;
    transition: ease-in-out .3s;
}
.head-item:hover .dd-all{
    opacity: 1;
    transform: translateY(0px);
    transition: opacity .3s, transform .3s;
}
.main-nav{
    display: flex;
    justify-content: space-between;
}
.nav-all{
    margin-right: 300px;
}
.nav-all li{
    display: inline-block;
}
.main-nav{
    align-items: center;
}
.responsive-nav-toggle{
    display: none;
}
.primary-header{
    padding: 30px 0;
}
/*banner end*/

/*benefits start*/
.benefits{
    margin-bottom: 60px;
}
.ben-col{
    padding: 30px 0;
    background-color: #fff;
    border: 2px solid #6b9bf300;
    border-radius: 10px;
    transition: ease-in-out .4s;
}
.ben-col:hover{
    border: 2px solid #6b9bf3;
    transition: ease-in-out .4s;
}
.ben-icn-bg{
    background-color: #6b9bf366;
    border-radius: 100%;
    border: 2px dashed #207EF7;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.ben-icn-bg span{
    font-size: 40px;
    color: #207EF7;
}
.ben-col h1{
    font-size: 24px;
    color: #07092B;
    font-weight: 600;
    margin: 25px 0;
}
.ben-col p{
    font-size: 16px;
    color: #07092b92;
}
/*benefits end*/

/*about start*/
.about{
    margin-bottom: 60px;
}
.abt-col h5{
    font-size: 16px;
    color: #6B9AF3;
    margin-bottom: 10px;
}
.abt-col h1{
    font-size: 40px;
    font-weight: 800;
    color: #07092B;
    margin-bottom: 24px;
}
.abt-col p{
    font-size: 16px;
    color: #07092b98;
    line-height: 2;
    margin-bottom: 25px;
}
.consult-wrap{
    justify-content: space-between !important;
}
.consult{
    box-sizing: border-box;
    background-color: #6b9bf351;
    border-radius: 15px;
    width: 48% !important;
    
}
.consult h2{
    font-size: 24px;
    color: #07092B;
    margin-bottom: 0px !important;
    padding: 15px 0px 15px 15px !important;
}
.consult h2 span{
    margin-right: 10px;
}
/*about end*/

/*health-serv start*/
.health-serv{
    background-image: url(../images/health-serv-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}
.all-health{
    padding: 50px 0px;
}
.health-head h5{
    font-size: 16px;
    color: #EAF7FD;
    margin-bottom: 10px;
}
.health-head h1{
    font-size: 40px;
    color: #EAF7FD;
    font-weight: 800;
    margin-bottom: 20px;
}
.health-head p{
    font-size: 16px;
    color: #EAF7FD;
    padding: 0px 150px;
    margin-bottom: 25px;
}
.health-col{
    width: 85%;
}
.health-col h6{
    font-size: 16px;
    color: #207EF7;
    font-weight: 600;
}
/*health-serv end*/

/*appointment start*/
.appointment{
    margin-bottom: 60px;
}
.appoint-head h5{
    color: #207EF7 !important;
}
.appoint-head h1{
    color: #07092B !important;
}
.appoint-head p{
    color: #07092b92 !important;
    padding: 0px !important;
}
.all-data{
    margin-bottom: 25px;
}
.appoint-icn-bg{
    background-color: #6b9bf379;
    border-radius: 50px;
    margin-right: 20px;
    height: 60px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.appoint-icn-bg span{
    font-size: 28px;
    color: #07092B;
}
.appoint-txt h6{
    font-size: 20px;
    color: #07092B;
    margin-bottom: 10px !important;
    font-weight: 600;
}
.appoint-txt p{
    font-size: 16px;
    color: #07092b92;
    margin-bottom: 0px !important;
}
/*appointment end*/

/*solutions start*/
.solutions{
    margin-bottom: 60px;
}
.all-sol{
    background-color: #6b9bf366;
    padding: 15px 25px;
    border-radius: 10px;
}
.all-sol span{
    font-size: 28px;
    color: #07092B;
    background-color: #6b9bf300 !important;
    padding: 0px !important;
    border-radius: 0% !important;
    margin-right: 20px;
    margin-bottom: 0px !important;
}
.sol-txt h6{
    margin-bottom: 0px !important;
}
/*solutions end*/

/*doctors start*/
.doctors{
    margin-bottom: 50px;
}
.doc-head p{
    padding: 0px 150px !important;
}
.doc-col{
    margin-bottom: 25px;
    width: 100% !important;
}
.doc-col img{
    margin-bottom: 15px;
}
.doc-col h1{
    font-size: 20px;
    color: #07092B;
    font-weight: 600;
    margin-bottom: 10px;
}
.doc-col h2{
    font-size: 16px;
    color: #207EF7;
    margin-bottom: 0px !important;
}
/*doctors end*/

/*call start*/
.call{
    background-image: url(../images/index1-counter-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}
.call-all-wrap{
    padding: 70px 50px;
}
.counter-col-wrap{
    justify-content: space-between !important;
}
.counter-col{
    background-color: #ffffff;
    padding: 40px 60px;
    border-radius: 20px;
    width: 48% !important;
}
.counter-col h1{
    font-size: 36px;
    color: #207EF7;
    font-weight: 600;
}
.counter-col h2{
    font-size: 20px;
    color: #07092B;
}
.call-form{
    background-color: #fff;
    width: 47% !important;
    margin: 0 auto;
    border-radius: 20px;
    padding: 40px 0px;
}
.frm-btn{
    width: 35% !important;
    margin: 0 auto !important;
    margin-top: 25px !important;
}
.call-form-custom{
    background-color: #6b9bf371 !important;
    border: none !important;
    color: #07092B !important;
    border-radius: 20px !important;
    font-size: 16px !important;
}
.call-form-custom:focus{
    box-shadow: 0 0 0 .25rem rgba(13, 109, 253, 0) !important;
}
/*call end*/

/*consultancy start*/
.consultancy{
    margin-bottom: 60px;
}
.consultancy-txt h1{
    font-size: 20px;
    color: #07092B;
    font-weight: 500;
    margin-bottom: 15px;
}
.consultancy-txt h1 span{
    color: #207EF7;
    margin-right: 10px;
}
/*consantancy end*/

/*blog start*/
.blog{
    margin-bottom: 60px;
}
.blog-txt{
    top: 110%;
    left: 50%;
    padding: 10px;
    background-color: #07092b;
    width: 100%;
    transition: ease-in-out .3s;
}
.blog-data:hover .blog-txt{
    top: 93%;
    transition: ease-in-out .3s;
}
.blog-txt h1{
    font-size: 16px;
    color: #f1f1f1;
    font-weight: 500;
}
.blog-txt h6{
    font-size: 12px;
    color: #207EF7;
}
.blog-date{
    background-color: #fff;
    left: 10%;
    top: 5.3%;
}
.blog-date h5{
    font-size: 12px;
    color: #07092B;
    padding: 10px 15px;
}
/*blog end*/

/*footer start*/
.footer{
    background-image: url(../images/footer2-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.ftr-all-wrap{
    padding: 50px 25px;
}
.logo-col h1 a{
    font-size: 28px;
    color: #fff;
    font-weight: 800;
    text-decoration: none !important;
}
.logo-col p{
    font-size: 12px;
    color: #f1f1f1a8;
}
.social-row ul li{
    display: inline-block;
}
.ft-icn-bg{
    font-size: 16px;
    color: #f1f1f1;
    margin-right: 10px;
    aspect-ratio: 1 / 1;
    height: 40px;
    background-color: #6B9AF3;
    border-radius: 50px;
}
.use-col ul li, .contact-col ul li{
    list-style: none;
    padding-bottom: 10px !important;
}
.use-col ul li h1{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 25px;
}
.use-col ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    transition: ease-in-out .3s;
}
.use-col ul li a:hover{
    color: #6B9AF3;
    transition: ease-in-out .3s;
}
.contact-col ul li h1{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 25px;
}
.contact-col ul li a{
    text-decoration: none;
}
.con-div span{
    color: #6B9AF3;
    font-size: 16px;
    margin-right: 10px;
}
.con-data h1{
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 5px !important;
}
.con-data h2{
    font-size: 12px;
    color: #fff;
}
/*footer end*/

/*ftr-btm start*/
.ftr-btm{
    background-color: #121F34;
}
.ftr-btm h1{
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    padding: 30px 0;
}
.ftr-btm h1 span{
    font-size: 16px;
}
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }



@media screen and (max-width: 420px){
    /*head-top start*/
    .ht-col{
        text-align: center !important;
        padding: 20px 0px 0px 0px !important;
    }
    .ht-col ul li {
        display: block !important;
        padding-right: 0px !important;
        margin-bottom: 20px !important;
    }
    /*head-top end*/

    /*header start*/
    .header{
        top: 4%;
    }
    .responsive-nav-toggle{
        position: absolute;
        display: block;
        background-color: transparent;
        background-image: url(../images/hamburger.svg);
        width: 40px;
        aspect-ratio: 1 / 1;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 9999;
        top: 30%;
        right: 2rem;
        border: none;
        transition: ease-in-out .4s;
    }
    .responsive-nav-toggle[aria-expanded="true"] {
        background-image: url(../images/close.svg);
        transition: ease-in-out .4s;
    }
    .main-nav{
        position: fixed;
        inset: 0 0 0 45%;
        z-index: 5000;
        background: #f1f1f1;
        height: 100vh;
        padding: min(80vh, 10rem) 2em;
        flex-direction: column;
        transform: translateX(100%);
        transition: ease-in .4s;
    }
    .main-nav[data-visible="true"] {
        transform: translateX(0%);
        transition: ease-out .4s;
    }
    .nav-all li{
        display: block;
    }
    .nav-all{
        margin-right: 0px !important;
    }
    .main-nav{
        margin-bottom: 15px !important;
    }
    /*header end*/

    /*banner start*/
    .index1-bnr-txt {
        margin-top: 20px !important;
    }
    .index1-bnr-txt h1 {
        font-size: 24px !important;
        margin-bottom: 10px !important;
    }
    .index1-bnr-txt p {
        font-size: 14px !important;
        margin-bottom: 10px !important;
    }
    .index1-bnr-form {
        margin-bottom: 15px !important;
    }
    .bnr-main-btn {
        margin-bottom: 25px !important;
    }
    /*banner end*/

    /*benefits start*/
    .ben-col span {
        font-size: 20px !important;
    }
    .ben-col h1 {
        font-size: 16px !important;
        margin-bottom: 15px !important;
    }
    .ben-col p {
        width: 70% !important;
        margin: 0 auto;
        margin-bottom: 0px !important;
    }
    .ben-icn-bg {
        height: 70px !important;
        width: 70px !important;
    }
    /*benefits end*/

    /*about start*/
    .about-wrap img{
        width: 75% !important;
        margin-bottom: 35px !important;
    }
    .abt-col h5 {
        font-size: 14px !important;
    }
    .abt-col h1 {
        font-size: 24px !important;
        margin-bottom: 10px !important;
    }
    .abt-col p {
        font-size: 14px !important;
        margin: 0 auto !important;
        width: 90% !important;
        margin-bottom: 25px !important;
    }
    .consult-wrap{
        flex-direction: column !important;
        align-content: center !important;
    }
    .consult h2 {
        font-size: 14px !important;
    }
    /*about end*/

    /*health-serv start*/
    .health-head h5 {
        font-size: 14px !important;
    }
    .health-head h1 {
        font-size: 24px !important;
        margin-bottom: 10px !important;
    }
    .health-head p {
        font-size: 14px !important;
        margin: 0 auto !important;
        width: 80% !important;
        padding: 0px !important;
        margin-bottom: 25px !important;
    }
    .ben-col {
        padding-top: 50px !important;
        padding-bottom: 10px !important;
    }
    .health-col h6 {
        font-size: 14px !important;
        margin-top: 10px;
    }
    .health-serv {
        background-size: cover !important;
    }
    /*health-serv end*/

    /*appointment start*/
    .appoint-img{
        margin-bottom: 35px;
    }
    .appoint-head{
        text-align: center !important;
    }
    .all-data span {
        font-size: 20px !important;
        padding: 12px 20px !important;
    }
    .appoint-txt h6 {
        font-size: 18px !important;
        margin-bottom: 10px !important;
    }
    .appoint-txt p {
        font-size: 12px !important;
        margin-bottom: 0px !important;
    }
    /*appointment end*/

    /*solutions start*/
    .all-sol {
        padding: 5px 15px !important;
    }
    .sol-txt h6 {
        margin-bottom: 0px !important;
    }
    /*solutions end*/

    /*doctors start*/

    /*doctors end*/

    /*call start*/
    .call{
        background-size: cover !important;
        background-position: 65% !important;
    }
    .call-counter{
        margin-bottom: 30px;
    }
    .counter-col {
        padding: 10px 20px !important;
        width: 100% !important;
    }
    .counter-col h1 {
        font-size: 20px !important;
    }
    .counter-col h2 {
        font-size: 14px !important;
    }
    .call-form {
        width: 100% !important;
        padding: 10px !important;
    }
    .frm-btn {
        width: 65% !important;
    }
    /*call end*/

    /*consultancy start*/
    .consultancy img{
        margin-bottom: 30px;
    }
    h1 span {
        margin-right: 10px !important;
    }
    .consultancy-txt h1 {
        font-size: 16px !important;
        color: #07092B;
        text-align: justify !important;
        font-weight: 500;
        margin-bottom: 15px;
    }
    /*consultancy end*/

    /*blog start*/
    .blog-data{
        margin-bottom: 30px !important;
    }
    .blog-txt {
        top: 115%;
    }
    .blog-data:hover .blog-txt {
        top: 89%;
    }
    .blog-date {
        left: 13.2%;
        top: 6.4%;
    }
    /*blog end*/

    /*footer start*/
    .footer{
        text-align: center !important;
    }
    .logo-col{
        margin-bottom: 35px !important;
    }
    .logo-col, .insta-col, .use-col, .contact-col{
        margin-bottom: 25px;
    }
    .use-col ul li, .contact-col ul li {
        list-style: none;
        padding-bottom: 15px !important;
    }
    .contact-col ul li h1, .use-col ul li h1 {
        margin-bottom: 0px !important;
    }
    .con-div{
        flex-direction: column;
    }
    .con-div span {
        margin-right: 0px !important;
    }
    /*footer end*/
}